In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
plt.style.use('fivethirtyeight')

import warnings
warnings.filterwarnings('ignore')
print("Data before transformation")
data = pd.read_excel('Data_Train_Cars.xlsx',header=None)
data.head()

Data before transformation

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
1,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5,NaN,1.75
2,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5,NaN,12.5
3,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5,8.61 Lakh,4.5
4,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7,NaN,6

In [6]:
x = data.iloc[:,10].values

x

array(['Seats', 5, 5, ..., 8, 5, 5], dtype=object)

In [3]:
data.isnull().sum()

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        2
8       36
9       36
10      42
11    5195
12       0
dtype: int64

In [6]:
data.shape

(6020, 13)

In [23]:
data.iloc[:,10]

0       Seats
1           5
2           5
3           5
4           7
        ...
6015        5
6016        5
6017        8
6018        5
6019        5
Name: 10, Length: 6020, dtype: object